@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
/* font-family: "Young Serif", serif;
   font-weight: 400; */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
/* font-family: "Outfit", sans-serif; */

/* Variables */
:root {
   --color-primary-400: hsl(10, 36%, 37%);
   --color-primary-100: ;
   --color-body: hsl(30, 10%, 34%);

   --color-accent: ;
}

/* Basic Resets */

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

html {
   width: 100%;
}

/* General */

body {
   background-color: hsl(0, 0%, 100%);
   min-height: 100vh;
   font-family: "Outfit", sans-serif;
   font-size: 1.125rem;
}

.container {
   width: calc(95% - 1rem);
   margin: 0 auto;
}

h1 {
   font-family: "Young Serif", serif;
   font-weight: 900;
   color: var(--color-primary-400);
}

p {
   line-height: 1.7rem;
   color: var(--color-body);
}

.header-section__heading {
   color: hsl(24, 5%, 18%);
   font-size: 2.8rem;
   line-height: 2.7rem;
   margin-block: 2rem;
}

.main-section__heading {
   font-size: 2rem;
}

.preparation-time-section {
   background-color: hsl(330, 100%, 98%);
   margin-block: 2rem;
   padding: 2rem;
   line-height: 2rem;
   border-radius: 1rem;
}

.preparation-time-section__heading {
   font-family: "Outfit", sans-serif;
   font-size: 1.3rem;
   font-weight: 600;
   margin-bottom: .5rem;
}

.preparation-time-section__list {
   color: var(--color-body);
   margin-left: 1rem;
   list-style: disc;
}

.preparation-time-section__listitem {
   padding-left: 1rem;
   margin-left: .5rem;
}

.ingredients-section {
   margin-bottom: 1rem;
}

.ingredients-section__heading {
   margin-bottom: 1rem;
}

.ingredients-section__list {
   padding: 1rem;
   color: var(--color-body);
   line-height: 1.8rem;
}

.ingredients-section__listitem {
   padding-left: 1rem;
   margin-left: .5rem;
}

.instructions-section {
   margin-block: 2rem;
}

.instructions-section__list {
   margin: 1rem;
   line-height: 1.6rem;
   color: var(--color-body`);
}

.instructions-section__listitem {
   padding-left: 1rem;
   margin-left: .5rem;
   padding-block: .3rem;
}

.nutrition-section {
   margin-block: 2rem;
}

.nutrition-section__heading {
   margin-bottom: 1rem;
}

.nutrition-section__paragraph {
   margin-block: 1rem;
}

.nutrition-section__nutrient-container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 1rem;
   padding-left: 2rem;
}

.nutrient-quantity {
   color: var(--color-primary-400);
   font-weight: 600;
}